
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
}

.head-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    background-color: black;
}

.logo-img {
    height: 50px;
}

.nav-btn{
    display: flex;
    align-items: center;
}
.nav-btn a {
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #bd0710;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 4vh;
    transition: 0.3s;
}

p{
    color: white;
    font-size: 13px;
}
.nav-btn a:hover {
    color: black;
}

.join::after{
    content:"Join Now";
}
@media(max-width:600px) {
    .head-bar {
        padding: 0 15px;
    }

    .nav-btn a {
        width: 75px;
        height: 30px;
        line-height: 30px;
        font-size: 13px;
        margin-left: 6px;
        border-radius: 4px;
    }
    .join::after{
        content:"Join";
    }
    .logo-img {
        height: 40px;
        padding-right: 2vh;
    }
}